</main>

<!-- Horizontal Line -->
<hr style="border: 0.5px solid gray; margin-top: 2em; margin-bottom: 0;">

<!-- Footer -->
<footer>
  <div class="footer-container" style="display: flex; justify-content: space-between; align-items: center;">
    <!-- Social Icons -->
    <div>
      <ul class="footer-social-icons" style="list-style-type: none; margin: 0; padding: 0;">
        <li style="display: inline; margin-right: 10px;">
          <a href="https://twitter.com/jackd1801" target="_blank" ><i class="fab fa-twitter"></i></a>
        </li>
        <li style="display: inline; margin-right: 10px;">
          <a href="https://github.com/jackd1801" target="_blank" style="color: #fad201;"><i class="fab fa-github"></i></a>
        </li>
        <li style="display: inline;">
          <a href="mailto:jack37feus@hotmail.com" style="color: #EE242C;"><i class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
    
    <!-- Copyright -->
    <div>
      <p style="margin: 0;">{{ .Site.Title }} {{ dateFormat "2006" now }}</p>
    </div>
  </div>
</footer>

<!-- Lightbox2 JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>

</body>
</html>
