<ul class="image-gallery">
    {{ with .resources }}
      {{ range . }}
        {{ $image := . }}
        {{ $imagetitle := index (split .Name ".") 0 }}
        <li>
          <a href="{{ ($image.Fit "1600x1600 q50").Permalink }}" data-lightbox="image-1" title="{{ $imagetitle }}">
            <img src="{{ ($image.Fill "300x300 q50").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
            <span>{{ $imagetitle }}</span>
          </a>
        </li>
      {{ end }}
    {{ else }}
      <p>No images found.</p>
    {{ end }}
  </ul>
  