{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; list-style-type: none; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none !important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
    .image-gallery li span {
  font-size: 12px; /* adjust the size as needed */
}
  </style>  

{{ if .Params.readingTime }}
  <div style="display: flex; justify-content: start; gap: 20px;">
    <p>Date published: {{ .Date.Format "Jan 2, 2006" }}</p>
    <p>{{ partial "readingTime.html" . }}</p>
  </div>
{{ end }}
{{ .Content }}

{{ partial "footer.html" . }}